*{
    margin: 0;
    padding: 0;
}
.kesh{
    width: 230px;
    height: 40px;
}
.user{
    width: 64px;
    height: 64px;
}
body{
    background-color: rgb(242, 243, 247);
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 800px;
    height: 300px;
    margin-right: 30px;
    padding: 30px;
    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 400px;
    height: 300px;
    padding: 30px;
}
.enter{
    background-color: rgb(255, 0, 50);
    border-radius: 10px;
    border: none;
    color: aliceblue;
    width: 350px;
    height: 50px;
    font-size: 20px;

}
.replenishment{
    background-color: rgb(255, 0, 50);
    border-radius: 10px;
    border: none;
    color: aliceblue;
    width: 350px;
    height: 50px;
    font-size: 20px;
}
.name{
    color: rgb(62, 62, 62);
    font-size: 32px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-size: 20px;
}
.bottom{
    font-weight: bold;
    font-size: 20px;
    display: flex;
}
.number{
    margin-right: 20px;
}
.action{
    display: flex;
    justify-content: space-around;
}
form input{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
